<div class="container" *ngIf="!username; else login">
    <h1>User Login Form</h1>
    <form [formGroup]="lForm" (ngSubmit)="logIn(lForm.value)">
      <label for="username"> Username <br>
        <input type="text" formControlName="username">
      </label>
      <br>
      <label for="password"> Password <br>
        <input type="text" formControlName="password">
      </label>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="!lForm.valid">Submit</button>
      <br>
    </form>
</div>

<ng-template #login>
  <div class="jumbotron" >
    <h3>Welcome to {{username}} 's page!</h3>
  </div>

</ng-template>
