<div class="container">
    <h1>User Login Form</h1>
    <form action="Submit">
      <label for="username"> Username </label><br>
        <input type="text" [(ngModel)]="username" name="username">
    <br>
      <label for="password"> Password</label><br>
        <input type="text" name="password">
          <br>
          <br>
          <button type="submit" class="btn btn-primary">
            <a href="#login">Submit</a>
          </button>
          <br>

          <div class="jumbotron" id="login">
            <h3>Welcome to {{username}} 's page!</h3>
          </div>
    </form>
</div>
